.contact {
    padding: 130px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(237, 227, 227);
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}
.contact-parent{
    display:flex;
    margin:80px 0;
  }
  
  .contact-child{
    display:flex;
    flex:1;
    box-shadow:0px 0px 10px -2px rgba(220, 219, 219, 0.75);
  }
  
  .child1{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("save1.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    color:rgb(213, 255, 60);
    padding:100px 0;
  }
  
  .child1 p{
    padding-left:20%;
    font-size:20px;
    text-shadow:0px 0px 2px rgb(189, 200, 44);
  }
  
  .child1 p span{
    font-size:16px;
    color:#9df2fd;
  }
  
  .child2{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
  }
  
  .inside-contact{
    width:90%;
    margin:0 auto;
  }
  
  .inside-contact h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
  }
  
  .inside-contact h3{
    text-align:center;
    font-size:16px;
    color:#0085e2;
  }
  
  .inside-contact input,.inside-contact textarea{
    width:50%;
    background-color:#eee;
    border:1px solid rgba(25, 223, 210, 0.48);
    padding:5px 10px;
    margin-bottom:20px;
  }
  .inside-contact input[type=submit]{
    background-color:rgb(206, 15, 15);
    color:#fff;
    transition:0.2s;
    border:2px solid rgb(58, 196, 203);
    margin:30px 0;
  }
  
  .inside-contact input[type=submit]:hover{
    background-color:rgb(255, 56, 56);
    color:rgb(255, 255, 255);
    transition:0.2s;
  }
  
  @media screen and (max-width:991px){
    .contact-parent{
        display:block;
        width:100%;
    }
  
    .child1{
        display:none;
    }
  
    .child2{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("save.jpg");
        background-size:cover;
    }
  
    .inside-contact input, .inside-contact textarea{
        background-color:#fff;
    }
  }
  h1{
      padding-left: 688px;
  }
  #btn_send{
           font-weight: 700;
  }