@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: black;
    background-position:center;
    background-size:cover;
    height: 100%;
    color:#fff;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

#logo { 
    float: left;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.menu_h{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.home{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)),url('homebg.jpg');
    background-position:right;
    background-repeat: no-repeat;
    background-size: auto;
}

.content
{   padding-top: 0px;
    color: antiquewhite;
    padding-bottom: 200px;
    border: 5px solid black;
}

.content .par{
    padding-left: 65px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: Poppins;
    font-size: 100px;
    padding-left:50px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 65px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}
.content .cn a{ 
    text-decoration: none;
    color: #ffffff;
    
}
.cn:hover{
    background-color: antiquewhite;
}

.about{
    background-image: url(back1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.abt{
    font-family: Poppins;
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0,0.8);
}

.abt h1{
    padding: 0px;
    font-size: 50px;
}

.abt span{
    color: red;
}

.abt p{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    margin-left: 20px;
}

.menu .title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: bold;
    color: antiquewhite;
}

.menu .special{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.special .sdish{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.spcimg{
    height: 300px;
    width:  400px;
}

.spcinfo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding-left: 20px;
    padding-top: 20px;
}

.obtn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.abtn{ 
    text-decoration: none;
    color: #ffffff;
}

.obtn:hover{
    background-color: antiquewhite;
}

.menu .normal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.normal .ndish{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nimg{
    width: 260px;
    height: 190px;
}

.ninfo{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    padding-left: 20px;
    padding-top: 20px;
}

.gallery h1{
    font-family: Poppins;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.gallery img{
    width: 100%;
    height: 100%;
}

.gallery .single{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    align-content: center;
}

.gallery .doubles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    align-content: center;
}

.gallery .hrzt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    align-content: center;
}

.gallery .last{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    align-content: center;
}